<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/lib.css">
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@300&family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Jobo</title>
  </head>
  <body class="relative font-sourcesan bg-[url('../images/auth-bg.jpg')] bg-no-repeat bg-center bg-fixed bg-ncolor-trans-3 bg-cover box-border">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <!-- Logo and Description-for-logo -->
      <section>
        <div class="w-96 h-96 relative left-24 top-72">
            <img class="max-h-full max-w-full h-auto w-auto" src="../images/logo.png" alt="Jobo logo">
        </div>
        <div class="w-60 h-56 flex flex-col relative left-96 top-12">
            <div class="inline text-white text-2xl leading-7">
                Sign in
            </div>
            <div class="inline text-white text-2xl leading-7">
                or create an account
            </div>
        </div>
    </section>
      <!-- Box content -->
      <section>
        <div class="w-128 h-96 absolute top-80 right-44 bg-white rounded-md">
          <div class="relative w-full h-full">
            <div class="flex flex-col p-8 gap-5 pr-16">
              <span class="font-bold text-4xl">Reset your password</span>
              <div>
                <span class="text-xl inline-block">How do you want to receive the code to</span>
                <span class="text-xl inline-block">reset your password?</span>
              </div>
              <div>
                <div class="flex items-center">
                  <input checked id="default-radio-1" type="radio" name="verificationMethod" class="w-7 h-7 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-radio-1" class="ml-2 text-lg">Send code via email<br>d********2@gmail.com</label>
                </div>
              </div>
              <div>
                <div class="flex items-center">
                  <input id="default-radio-2" type="radio" name="verificationMethod" class="w-7 h-7 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="default-radio-2" class="ml-2 text-lg">Send code via SMS<br>*********38</label>
                </div>
              </div>
            </div>
            <button type="button" class="absolute top-72 left-76 text-center rounded-3xl bg-blue-600 px-10 py-3 text-white text-xl font-bold hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">Continue</button>
          </div>
        </div>
      </section>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
