body {
  /* background: url(./bg.jpg) no-repeat center fixed rgba(0, 0, 0, 0.3); */ /* For Offline Version */
  background: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074) no-repeat center fixed rgba(0, 0, 0, 0.3);
  background-size: cover;
}
.left-76 {
  left: 19rem !important;
}

.font-sourcesan {
  font-family: 'Source Sans Pro' !important;
}
